/* NAV */
#nav {
    background-color: #3498db;
    height: 100px;
}

#logo {
    width: 60px;
    height: auto;
}

#link {
    color: white;
    font-size: 24px;
}

/* QUEMSOU */
.quemsou {
    background-color: #e74c3c;
    height: 600px;
}

/* FUNCIONAL */
.funcional {
    height: 600px;
    justify-content: center;
    background-color: #f1c40f;
    color: #34495e;
}

/* AVL */
#avl {
    background-color: #3498db;
    height: 600px;
}

.avaliacoes {
    padding: 20px;
    text-align: center;
    /* Centraliza o texto na horizontal */
}


.cardt {
    width: 50%;
    
    
}

.contato{
    background-color: #e74c3c;
    height: 600px;
    

}

.operator{
    width: 300px;
    padding: 10%;
}