/* NAV */
#nav {
    background-color: #3498db;
    height: 100px;
}

#logo {
    width: 60px;
    height: auto;
}

#link {
    color: white;
    font-size: 45px;
}

/* QUEMSOU */
.quemsou {
    padding: 20px;
    background-color: #e74c3c;
    height: 600px;
    display: flex;
    justify-content: center;

}

.quemsouconteudo {
    width: 100%;

    padding: 60px;

}

#team {
    width: 300px;
    height: 250px;
    padding-left: 60px;

}

/* FUNCIONAL */
.funcional {
    padding: 20px;
    height: 300px;
    justify-content: center;
    background-color: #f1c40f;
    color: #34495e;
    display: flex;

}

/* AVL */
#avl {
    background-color: #3498db;
    height: 600px;
    display: flex;
    justify-content: center;
}

.avaliacoes {

    text-align: center;

}

#avaliaca {

    justify-content: center;


}


#cards {
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 30%;

}

.contato {
    background-color: #e74c3c;
    height: 600px;
    display: flex;
    justify-content: center;


}

.operator {
    
    
    width: 300px;
    height: 300px;
    margin-top: 2%;

}